# RK_BUILDROOT is not set
# RK_YOCTO is not set
RK_WIFIBT_CHIP="rtl8822cs"
RK_DISK_AUTO_FORMAT=y
RK_USB_ENABLED=y
RK_USB_MTP=y
RK_USB_ACM=y
RK_USB_NTB=y
RK_USB_UVC=y
RK_USB_UAC1=y
RK_USB_UAC2=y
RK_USB_HID=y
RK_USB_RNDIS=y
RK_USB_UMS=y
RK_EXTRA_FONTS_DISABLED=y
RK_ROOTFS_INPUT_EVENT_DAEMON_ENABLED=y
RK_ROOTFS_BOOTANIM=y
RK_ROOTFS_FRECON=y
RK_KERNEL_DTS_NAME="rk3399-vaaman-linux"
RK_KERNEL_CFG_FRAGMENTS="rk3399_vaaman.config"
RK_UBOOT_CFG="rk3399-vaaman"
